/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/* Custom from here */

html {
  background-color: #000000;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#room-name,
#nav,
#warning,
#last-update {
  background-color: #444444;
  padding: 1em;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #eeeeee;
  font-family: monospace;
  border-radius: 0.5em;
}

.unmuted #room-name {
  background-color: red;
}

#warning {
  left: inherit;
  right: 20px;
  background-color: #666666;
}

.show-vu-meter #warning {
  right: 80px;
}

#offline {
  position: absolute;
  top: 80px;
  left: 80px;
  right: 80px;
  text-align: center;
  background-color: #111111;
  border-radius: 1em;
  padding: 40px;
}

#offline p {
  font-size: 2em;
  padding-bottom: 1em;
}

#offline p small {
  font-size: 0.5em;
}

#offline h1 {
  font-size: 10em;
}

#offline p {
  color: #eeeeee;
  font-family: monospace;
}

#last-update {
  top: auto;
  bottom: 20px;
  left: 20px;
}

#nav h1 {
  font-weight: bold;
  font-size: 1.5em;
}

#nav li {
  padding-top: 0.5em;
}

a {
  color: #ffffff;
}

.start-audio-hopper,
.pause-audio-hopper,
.next-audio-hopper,
.prev-audio-hopper {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #111111;
  border: 1px solid #444444;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
}

.next-audio-hopper {
  right: 60px;
}

.prev-audio-hopper {
  right: 120px;
}

.start-audio-hopper:active,
.pause-audio-hopper:active,
.next-audio-hopper:active,
.prev-audio-hopper:active {
  background-color: #333333;
}

video {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 20px);
  position: absolute;
  background-color: black;
}

.show-vu-meter video {
  width: calc(100% - 62px);
}

video.unmuted {
  margin: 0;
  border-left: 1px solid red;
  border-top: 10px solid red;
  border-bottom: 10px solid red;
}

#vu-meter {
  display: none;
}

.show-vu-meter #vu-meter {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0;
  background-color: blue;
  width: 60px;
  top: 0;
  border-right: 1px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.show-vu-meter.unmuted #vu-meter {
  border-right: 1px solid red;
  border-top: 10px solid red;
  border-bottom: 10px solid red;
}
