# .github/workflows/example.yml
name: Mux Video Monitor

on:
  push:
    branches:
      - main

env:
  HOSTED_ZONE_ID: Z09102521YXWQT2ZKMPP7
  APP_DOMAIN: mux-monitor.aws.nextdayvideo.com.au
  AWS_DEFAULT_REGION: us-east-1

jobs:
  deploy-backend-bucket:
    name: Deploy backend-bucket.cfn.yaml
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    outputs:
      backendBucket: ${{ steps.deploy-bucket.outputs.backendBucket }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - run: sleep 5 # there's still a race condition for now

      - name: Configure AWS
        run: ./ci/configure-aws.sh

      - id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2 # default
          verbose: false # default
          
      - name: Deploy backend-bucket.cfn.yaml
        id: deploy-bucket
        run: |
          ./infra/backend-bucket/deploy.sh

  build-backend-lambda:
    name: Build backend-lambda and push to S3
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    needs: deploy-backend-bucket
    
    outputs:
      bucket: ${{ steps.build-and-push.outputs.bucket }}
      object: ${{ steps.build-and-push.outputs.object }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
          
      - run: sleep 5 # there's still a race condition for now

      - name: Configure AWS
        run: ./ci/configure-aws.sh

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2 # default
          verbose: false # default

      - name: Build and push to S3
        id: build-and-push
        env:
          LAMBDA_BUCKET: ${{needs.deploy-backend-bucket.outputs.backendBucket}}
        run: |
          ./backend-lambda/ci/pr.sh

  deploy-backend:
    name: Deploy Backend
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
    
    needs:
      - build-backend-lambda

    outputs:
      frontendBucket: ${{ steps.deploy.outputs.frontendBucket }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - run: sleep 5 # there's still a race condition for now

      - name: Configure AWS
        run: ./ci/configure-aws.sh

      - id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2 # default
          verbose: false # default
          
      - name: Deploy deployment.cfn.yaml
        id: deploy
        env:
          BACKEND_LAMBDA_S3_BUCKET: ${{needs.build-backend-lambda.outputs.bucket}}
          BACKEND_LAMBDA_S3_KEY: ${{needs.build-backend-lambda.outputs.object}}
        run: |
          ./infra/main-stack/deploy.sh

  build-frontend:
    name: Build frontend and push to S3
    runs-on: ubuntu-latest
    needs: deploy-backend

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'
        
      - run: sleep 5 # there's still a race condition for now

      - name: Configure AWS
        run: ./ci/configure-aws.sh

      - id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2 # default
          verbose: false # default

      # - name: Make envfile
      #   uses: SpicyPizza/create-envfile@v1
      #   with:
      #     envkey_AWS_UPLOAD_API_SERVER: /api
      #     envkey_SENTRY_DSN: https://68da6aa779154e93953d4a75062f8b2e@o517038.ingest.sentry.io/5624259
      #     envkey_RELEASE: $GITHUB_SHA
      #     file_name: frontend/.env

      - name: Build and push to S3
        id: build-and-push
        env:
          FRONTEND_BUCKET: ${{needs.deploy-backend.outputs.frontendBucket}}
        run: |
          ./frontend/ci/push.sh
